In [1]:
%load_ext autoreload
%autoreload 2

In [16]:
import selenium
import requests
import random
import time
from selenium.webdriver import Chrome
from selenium.webdriver import Firefox
import pandas as pd
from datetime import datetime

In [10]:
browser = Chrome()
url = "https://www.youtube.com/watch?v=FuXNumBwDOM"
browser.get(url)

In [21]:
def get_view_count(browser, url):
    browser.get(url)
    time.sleep(3)
    """Return the view count"""
    as_of = datetime.now()
    sel = 'span.view-count'
    view_count = browser.find_element_by_css_selector(sel).text
    return int(view_count.split()[0].replace(",","")), as_of

In [59]:
 tailor_views = []

In [60]:
def tailor_view_count(browser):
   
    browser = Firefox()
    url = "https://www.youtube.com/watch?v=FuXNumBwDOM"
    browser.get(url)
    time.sleep(3)
    """Return the view count"""
    as_of = datetime.now()
    sel = 'span.view-count'
    view_count = browser.find_element_by_css_selector(sel).text
    snapshot = int(view_count.split()[0].replace(",","")), as_of
    tailor_views.append(snapshot)
    return tailor_views

In [61]:
tailor_view_count(browser)

[(48890410, datetime.datetime(2019, 4, 26, 17, 58, 29, 565436))]

In [30]:
fortnite_avengers_views = []

In [31]:
def fortnite_avengers_view_count(browser):
   
    browser = Firefox()
    url = "https://www.youtube.com/watch?v=OM_QJkD-Mr8"
    browser.get(url)
    time.sleep(3)
    """Return the view count"""
    as_of = datetime.now()
    sel = 'span.view-count'
    view_count = browser.find_element_by_css_selector(sel).text
    snapshot = int(view_count.split()[0].replace(",","")), as_of
    fortnite_avengers_views.append(snapshot)
    return fortnite_avengers_views

In [34]:
fortnite_avengers_view_count(browser)

[(6895003, datetime.datetime(2019, 4, 26, 17, 25, 46, 111582)),
 (6895003, datetime.datetime(2019, 4, 26, 17, 26, 7, 830930))]

In [62]:
ts = pd.DataFrame(tailor_views)
# ts.collumns = ["Tailor Swift Views", "As of"]
ts.head()

          0                          1
0  48890410 2019-04-26 17:58:29.565436

In [39]:
fa = pd.DataFrame(fortnite_avengers_views)
fa.head()

         0                          1
0  6895003 2019-04-26 17:25:46.111582
1  6895003 2019-04-26 17:26:07.830930